.password-require-form {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.password-require-form label {
  font-size: 24px;
  margin: 20px 0;
  width: 90%;
}

.password-require-form input {
  width: 60%;
  padding-left: 10px;
  font-size: 24px;
}

.password-require-form button {
  margin: 20px;
}
