.message {
  position: fixed;
  top: 20%;
  left: 35%;
  height: 230px;
  width: 30%;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.overlay {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
